body {
  background-image: url(./images/background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* hide rematch btn */
.hidden {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  /* transform: translate(0%, -60%); */
  text-align: center;
}

.round-results {
  padding-bottom: 400px;
  font-size: larger;
  color: rgb(21, 152, 106);
}

.points {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5vw;
  transform: translate(0%, 200%); /*move container to bottom screen*/
}

.player-points {
  color: rgb(79, 142, 144);
  font-size: larger;
}

.computer-points {
  color: rgb(137, 22, 22);
  font-size: larger;
}

.winner {
  transform: translate(0%, -120%);
  font-size: x-large;
  color: pink;
}

.buttons {
  position: fixed;
  display: flex;
}

/*  button styles */
#rock,
#paper,
#scissors {
  background: none;
  border: none;
  transition: transform 0.2s;
}

/* Button styles when hovered */
#rock:hover,
#paper:hover,
#scissors:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#rematch {
  position: absolute;
  top: -20%;
  left: 42%;

  background: transparent;
  border: none;

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.2em;
  color: blueviolet;
}

#rematch:hover {
  color: rgb(164, 110, 215);
  transform: scale(1.1);
  font-weight: bolder;
}

h1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-transform: capitalize;
  word-spacing: 10vw;
  margin-top: 40px;
  position: fixed;
}

.points {
  display: flex;
  justify-content: center;
}

/*  image size for smaller screens */
@media (max-width: 768px) {
  #rock img,
  #paper img,
  #scissors img {
    width: 150px; /* width as needed for smaller screens */
  }

  h1 {
    font-size: small;
  }

  .round-results {
    font-size: small;
  }

  .points {
    font-size: small;
  }

  .winner {
    font-size: small;
  }
}
