body {
  background-image: url(./images/background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* hide rematch btn */
.hidden {
  display: none;
}

.results {
  transform: translate(0%, -60%);
  text-align: center;
}

.buttons {
  position: fixed;
}

#rematch {
  position: fixed;
  top: 55%;
  left: 45%;
}
